@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $page-background-colour;
}

.calc-container {
  display: flex;
  flex-direction: column;
  margin: auto;

  .calc-container__heading {
    margin-bottom: 10px;
    align-self: center;
  }

  .calc-container__slogan {
    margin-bottom: 40px;
    text-align: center;
  }

  .calc-container__description {
    margin-bottom: 20px;
  }

  .calc-container__displays {
    padding: 10px 5px;
    background-color: $container-background;
    border: 5px solid $container-border;
    border-radius: 10px;

    .number-display {
      background-color: $container-background;
    }

    .operator-display {
      background-color: $container-background;
    }
  }

  .calc-container__buttons {
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    row-gap: 15px;
    column-gap: 3.25%;
    padding: 10px 5px;
    background-color: $container-background;
    border: 5px solid $container-border;
    border-radius: 10px;
    margin-top: 30px;

    #zero {
      width: 214%;
    }

    #point {
      grid-column: 3/4;
    }
  }

  .calc-footer {
    text-align: center;
    height: max-content;
    margin-top: 30px;
    color: $footer-text-colour;
    background-color: $footer-background-colour;

    .calc-footer__link {
      display: flex;
      flex-direction: column;

      .calc-footer__link--image {
        width: 50%;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
