@use "./variables" as *;

.calc-container__heading {
  font-size: 36px;
  font-family: $page-heading-font;
  font-weight: bold;
  color: $page-heading;
}

.calc-container__slogan {
  font-size: 24px;
  font-family: $page-description-font;
  color: $page-heading;
  .calc-container__slogan--problem {
    animation: alternateColourProblem 5s infinite alternate;

    @keyframes alternateColourProblem {
      from {
        color: white;
      }
      to {
        color: red;
      }
    }
  }
  .calc-container__slogan--solution {
    animation: alternateColourSolution 5s infinite alternate;

    @keyframes alternateColourSolution {
      from {
        color: white;
      }
      to {
        color: green;
      }
    }
  }
}

.calc-container__description {
  font-size: 18px;
  font-family: $page-description-font;
  color: $page-heading;
}

.number-display {
  font-family: $number-display-font;
  color: $number-display-colour;
}

.operator-display {
  color: $number-display-colour;
}

.calc-footer {
  font-size: 20px;
  font-family: $footer-font;
}
