@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
//////////Font variables//////////
//Headings
$page-heading-font: "Crimson Text", serif;

//Descriptions
$page-description-font: "Roboto", sans-serif;

//Displays
$number-display-font: "Black Ops One", sans-serif;
$operator-display-font: "Roboto", sans-serif;

//Footer
$footer-font: "Crimson Text", serif;

//Buttons
$button-text: "Lobster", sans-serif;

//////////Colour variables//////////
///Backgrounds
$page-background-colour: #000000;
$footer-background-colour: #000000;

///Buttons
$button-background-colour: #ffffff;

///Displays
$container-background: #808080;
$container-border: #008000;

///Headings
$page-heading: #ffffff;

///Text
$footer-text-colour: #ffffff;
$number-display-colour: #ffffff;
$slogan-base-colour: #ffffff;
$slogan-colour-one: #ea0808;
$slogan-colour-two: #30ce0d;
